@import "@fontsource/roboto-mono/600.css";
@import "@fontsource/outfit";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

}

@layer base {
  html {
    @apply font-sans;
    scroll-behavior: smooth;
  }

  h1 {
    @apply font-mono
  }
}

@layer components {
  .underline-animation {
    @apply relative p-0;
  }

  .underline-animation::after {
    content: '';
    @apply absolute w-full h-1 left-0 bottom-[-5px] bg-cyan-500 origin-right scale-x-0 transition-transform duration-300 rounded-lg;
  }

  .underline-animation:hover::after {
    @apply origin-left scale-x-100 rounded-lg;
  }

  .underline-animation-icon::after {
    bottom: -10px;
  }

  .underline-animation-icon:hover::after {
    bottom: -10px;
  }

  .box-select-hover {
    @apply relative rounded-lg border-2 border-transparent transition-colors duration-300;
  }

  .box-select-hover:hover {
    @apply border-cyan-500;
  }
}

:root {
  --background-color: #0a0422; /* background colour */
  --Bubble-color: 255, 255, 255; /* star colour */
  --accent-Bubble-color: rgb(6,182,212); /* Accent star colour */
}

