---
import Hero from '../components/Hero';
import '../styles/global.css';
import Navbar from '../components/Navbar';
import Background from '../components/Background'; // Update this path based on your project structure
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ishpreet's Website</title>
  </head>
  <body class="scroll-smooth">
    <Background client:load/>
    <Navbar client:load />
    <section id="home" class="min-h-screen p-0">
      <Hero client:load />
    </section>
  </body>
</html>

