---
import '../styles/global.css';
import Navbar from '../components/Navbar';
import Sidebar from '../components/Sidebar';
import Background from '../components/Background';

import Home from '../components/Home';
import About from '../components/About';
import Projects from '../components/Projects';

const year = new Date().getFullYear();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ishpreet Nagi</title>
  </head>
  <body class="overflow-x-hidden">
    <Background client:load/>
    <Sidebar client:load />
    <Navbar client:load />
    <section id="home" class="flex items-center justify-center relative min-h-screen pt-24 -mt-36 pb-20 overflow-hidden">
      <Home client:load />
    </section>
    <section id="about" class="flex items-center justify-center relative min-h-screen overflow-hidden sm:pt-22">
      <About client:load />
    </section>
    <section id="projects" class="flex items-center justify-center relative min-h-[auto] md:min-h-screen lg:min-h-screen pt-10 overflow-hidden sm:pt-22">
      <Projects client:load />
    </section>
    <footer class="text-center text-white/40 text-xs py-4 sm:scale-70 sm:origin-bottom">
      <p>&copy; {year} Ishpreet Nagi. All rights reserved.</p>
    </footer>
  </body>
</html>

